---
import Link from "@components/ui/link.astro";
import heroImage from "assets/hive.png";
import { Icon } from "astro-icon/components";
import { Picture } from "astro:assets";
---
<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  
  <!-- Hero Image Section -->
  <div class="py-4 md:order-1 hidden md:block max-w-md lg:max-w-lg">
    <Picture
  src={heroImage}
  alt="Hive's Logo"
  widths={[100, 200, 300]}
  sizes="(max-width: 700px) 50vw, 300px"
  loading="lazy"
  format={['avif', 'webp', 'jpeg']}
  class="object-contain w-24 sm:w-32 md:w-72 h-auto" 
/>
  </div>
  
  <!-- Content Section -->
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Hive
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      At Hive, our core mission is to build intelligent applications that contribute to creating decentralised, distributed, and open infrastructures. We believe in leveraging the power of artificial intelligence (AI) to bring practical solutions to everyday people while maintaining a strong commitment to privacy, decentralisation, and ethical practices.
    </p>
    
    <!-- Buttons Section -->
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      
      <!-- Get Started Button -->
      <Link
        href="/contact"
        target="_blank"
        class="flex gap-1 items-center justify-center px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700 transition"
        rel="noopener"
        aria-label="Get Started">
        <Icon class="w-5 h-5" name="bx:bxs-envelope" />
        Contact Us
      </Link>
      
    </div>
  </div>
</main>
