---
---
    
<div class="mt-24">
  <h2 class="text-center text-slate-500 text-xl md:text-2xl font-semibold">Works with Your Technologies</h2>
  <div class="flex gap-10 md:gap-24 items-center justify-center mt-12 flex-wrap">

    <img 
      src="https://cdn.worldvectorlogo.com/logos/huggingface-2.svg" 
      alt="Hugging Face Logo" 
      title="Hugging Face" 
      class="w-12 h-12 md:w-16 md:h-16" 
      loading="lazy"
    />
    <img 
      src="https://comdocs.netlify.app/img/commune-logo.svg" 
      alt="Commune Logo" 
      title="Commune" 
      class="w-10 h-10 md:w-16 md:h-16" 
      loading="lazy"
    />
    <img 
      src="https://cryptologos.cc/logos/bittensor-tao-logo.png" 
      alt="Bittensor Logo" 
      title="Bittensor" 
      class="w-10 h-10 md:w-16 md:h-16" 
      loading="lazy"
    />
    <img 
      src="https://static-00.iconduck.com/assets.00/openai-icon-2021x2048-4rpe5x7n.png" 
      alt="OpenAI Logo" 
      title="OpenAI" 
      class="w-10 h-10 md:w-20 md:h-20" 
      loading="lazy"
    />

  </div>
</div>
